
<nav class="navbar">
    <div class="container-grid">
        <div class="flex-row" style="margin: 0.5ch;">
            <a href="{{ .Site.BaseURL }}">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24" id="pira-top-left" class="svelte-wywcqo">
                <circle cx="12" cy="12" r="11" fill="#3B3533"/>
                <circle cx="12" cy="12" r="5" fill="#d7d7d7"/>
                </svg>
            </a>
        </div>
        <div class="flex-row">
            <p style="margin: 0"><span>{{ .Site.Params.header.siteName | default .Site.BaseURL }}</span></p>
            <p style="margin: 0"><span>made by <a href="{{ .Site.BaseURL }}">{{ .Site.Params.header.authorName | default .Site.Params.author }}</a>, {{ now.Format "2006" }}.</span></p>
        </div>
        {{ if .Site.Params.header.showDate | default true }}
        <div class="flex-row">
            <p style="margin: 1.5ch;"><span>{{ now.Format "Jan 2, 2006" }}</span></p>
        </div>
        {{ end }}
    </div>
</nav>
