<div class="container">
    <div class="blog-grid">
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
        <div class="blog-grid-item">
            <a href="{{ .Permalink }}" class="text-decoration-none">
                <div class="card h-100">
                    <div class="card-body">
                        <a class="card-date">{{ .Date.Format "2006-01-02" }}</a>
                        <h4 class="card-title">{{ .Title }}</h4>
                        {{ with .Description }}
                        <p class="card-text">{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
</div>